<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/news/tabs/announcement"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Create Announcement</ion-title>
    <ion-buttons slot="primary" color="primary">
      <ion-button color="primary"
      (click)="onCreateAnnouncement()"
      [disabled]="!form.valid || !datesValid()">
        <ion-icon 
        name="checkmark" 
        slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form" class="ion-text-center ion-padding">
  <ion-avatar class="avatar">
    <ion-img src="assets/icon/announcement.png"></ion-img>
  </ion-avatar>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input
           type="text"
           autocomplete
           autocorect
           formControlName="title"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea
             rows="10"
             formControlName="description"
             ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Payment</ion-label>
            <ion-input
             type="number"
             formControlName="price"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input
             type="text"
             formControlName="phone"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input
             type="text"
             formControlName="city"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Street</ion-label>
            <ion-input
             type="text"
             formControlName="street"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Choose a category</ion-label>
            <ion-select value = "job" formControlName="category">
              <ion-select-option value="auto/moto/ambarcatiuni">Auto,moto,ambarcatiuni</ion-select-option>
              <ion-select-option value="imobiliare">Imobiliare</ion-select-option>
              <ion-select-option value="job">Job-uri</ion-select-option>
              <ion-select-option value="electrice">Electrice</ion-select-option>
              <ion-select-option value="casa/gradina">Casa,gradina</ion-select-option>
              <ion-select-option value="moda/frumete">Moda,frumusete</ion-select-option>
              <ion-select-option value="mama/copii">Mama si copilul</ion-select-option>
              <ion-select-option value="sport/timpliber/arta">Sport,timp liber,arta</ion-select-option>
              <ion-select-option value="servicii/afaceri">Servicii,afaceri</ion-select-option>
              <ion-select-option value="agro/industrie">Agro,Industrie</ion-select-option>
              <ion-select-option value="animale">Animale</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
       <ion-row *ngIf="!form.get('phone').valid &&
      form.get('phone').touched">
        <ion-col size-sm="6" offset-sm="3">
            <p>Phone number must be exactly 10 characters long</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Available from</ion-label>
            <ion-datetime 
            min="2019-01-01"
             max="2050-12-31"
             formControlName="startDate"
             ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Available to</ion-label>
            <ion-datetime 
            min="2019-01-02" 
            max="2050-12-31"
            formControlName="endDate"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size-sm="6" offset-sm="3">
            <ion-input (change)="onFileChange($event)" 
            type="file" writeFile="true" 
            formControlName="announcementPicture" multiple>
          </ion-input>
      </ion-col>
      </ion-row>
  </ion-grid>
</form>
</ion-content>
