.icon {
    //background:#92949c ;
    width: 90px;
    height: 90px;
    //border-radius: 150%;
    //line-height: 150px;
    //text-align: center;
    color:  #3880ff;
    float: left;
  }
.text{
    //text-align: center;
    color:#3880ff ;
    float: left;
}
.main {
    margin: auto;
    width: 400px;
}