<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">{{ isLogin ? 'Login' : 'Signup' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4" class="ion-text-center">
          <ion-icon style="width:90px;height:90px;color:#3dc2ff;" name="bonfire-outline" aria-hidden="true"> 
          </ion-icon>
          <h3>𝐕𝐨𝐥𝐮𝐧𝐭𝐞𝐞𝐫𝐏𝐥𝐚𝐭𝐟𝐨𝐫𝐦</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size-sm="4" offset-sm="4">
          <ion-card>
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be a valid email address.
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!isLogin">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="confirmpassword"
                required
                minlength="6"
                #confirmpasswordCtrl="ngModel"
              ></ion-input>
            </ion-item>
              <ion-item
                *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label>
                  Should at least be 6 characters long.
                </ion-label>
              </ion-item>
          </ion-list>
        </ion-card>
        </ion-col>
      </ion-row>

      <!-- <ion-row  *ngIf="!isLogin" class="ion-text-center">
        <ion-col size-sm="4" offset-sm="4">
          <ion-button lines="none" (click)="subscribeToNotifications()" color="secondary">
            <ion-icon name="notifications-circle-sharp" slot="start" color="primary"></ion-icon>
            Subscribe for receiving Notifications
          </ion-button>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button
            type="button"
            color="medium"
            fill="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
            Switch to {{ isLogin ? 'Signup' : 'Login' }}
          </ion-button>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
            {{ isLogin ? 'Login' : 'Signup' }}
          </ion-button>
         
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button
            type="button"
            color="medium"
            fill="clear"
            expand="block"
            (click)="forgotPassword()"
          >
            Recover Password
        </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
 
</ion-content>
