<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news/tabs/announcement" color="primary"></ion-back-button>

    </ion-buttons>
    <ion-title class="ion-text-center">Chat Room For This Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf= "chat$ | async as chat">
    <div id="chatMessages">
        <div class="message" *ngFor="let message of chat.messages; trackBy: trackByCreated">
          <div *ngIf="message.receiverEmail === this.senderEmail || message.senderEmail === this.senderEmail">
            <div *ngIf="message.receiverEmail === this.receiverEmail || message.senderEmail === this.receiverEmail">
            <div [class]="message.senderEmail === this.senderEmail ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
              <div class="username">{{message.senderEmail}}
                <div class="timestamp">{{ message.date | date : 'dd/MM/yyyy HH:mm'}} </div>

              </div>
              <div class="message">{{ message.text }}</div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </ng-container>
</ion-content>

<ion-footer>
    <div id="footer">
      <div class="elem">
      <ion-textarea type="text" [(ngModel)]="message"></ion-textarea>
      </div>
      <div class="elem">
        <ion-button color="primary" (click)="sendMessage()">
          <ion-icon color="secondary" name="send-sharp" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
</ion-footer>