<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Announcements</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/news/tabs/announcement/new" color="primary">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  color="primary" (click)="isSearchbarOpened=true">
        <ion-icon name="search-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar
  *ngIf="isSearchbarOpened" 
  showCancelButton="always"
  (ionCancel)="isSearchbarOpened=false"
  (ionInput)="searchAfterInput($event)"
  ></ion-searchbar>
  <ion-segment  value="all" scrollable (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button value="all">
      <ion-label>Toate</ion-label>
    </ion-segment-button>
    <ion-segment-button value="auto/moto/ambarcatiuni">
      <ion-label>Auto,moto,ambarcatiuni</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imobiliare">
      <ion-label>Imobiliare</ion-label>
    </ion-segment-button>
    <ion-segment-button value="job">
      <ion-label>Job-uri</ion-label>
    </ion-segment-button>
    <ion-segment-button value="electrice">
      <ion-label>Electrice</ion-label>
    </ion-segment-button>
    <ion-segment-button value="casa/gradina">
      <ion-label>Casa,gradina</ion-label>
    </ion-segment-button>
    <ion-segment-button value="moda/frumete">
      <ion-label>Moda,frumusete</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mama/copii">
      <ion-label>Mama si copilul</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sport/timpliber/arta">
      <ion-label>Sport,timp liber,arta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="servicii/afaceri">
      <ion-label>Servicii,afaceri</ion-label>
    </ion-segment-button>
    <ion-segment-button value="agro/industrie">
      <ion-label>Agro,Industrie</ion-label>
    </ion-segment-button>
    <ion-segment-button value="animale">
      <ion-label>Animale</ion-label>
    </ion-segment-button>
   
  </ion-segment>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">Active</ion-segment-button>
    <ion-segment-button value="my">Finished</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!copyAnnouncements || copyAnnouncements.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>You haven't postet any news yet. Come back later :)
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && copyAnnouncements.length > 0">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll 
        [items]="listLoadedAnnouncements" 
        approxItemHeight="70px">
          <ion-item *virtualItem="let announcement" class="ion-text-center">
            <ion-thumbnail>
              <ion-img [src]="announcement.announcementPictureUrl" style="height: min-content;"></ion-img>
            </ion-thumbnail>
              <ion-label>
                <h2>{{ announcement.title }}</h2>
                <h2>{{ announcement.city }}</h2>
                  <ion-text>
                    {{ announcement.startDate | date : 'dd/MM/yyyy'}}
                  </ion-text>
                  <span class="ion-space-left">-</span>
                  <ion-text>
                    {{ announcement.endDate | date : 'dd/MM/yyyy'}}
                  </ion-text>
              </ion-label>
              <div>
                <ion-button
                  fill="clear"
                  color="primary"
                  [routerLink]="[
                    '/',
                    'news',
                    'tabs',
                    'announcement',
                    announcement.id
                  ]"
                >
                  More
                </ion-button>
              </div>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
