<ion-app>
  <ion-menu side="start">
    <ion-header >
      <ion-toolbar color="medium">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="">
            <ion-icon name="business" slot="start" color="primary"></ion-icon>
            <ion-label color="medium">Your Reviews</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="person" slot="start" color="primary"></ion-icon>
              <ion-label color="medium"> Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start" color="primary"></ion-icon>
            <ion-label color="medium">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
