<ion-app>
  <ion-menu side="start" color="primary">
    <ion-header >
      <ion-toolbar color="secondary">
        <ion-title class="ion-text-center">
          Menu
        </ion-title>
        <!-- <ion-avatar class="avatar">
          <ion-img [src]="userProfile?.imageUrl"></ion-img>
        </ion-avatar> -->
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="person" slot="start" color="secondary"></ion-icon>
              <ion-label>Your Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="">
            <ion-icon name="language-sharp" slot="start" color="secondary"></ion-icon>
            <ion-label>Change Language</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start" color="secondary"></ion-icon>
            <ion-label >Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
