<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="announcement">
      <ion-label>Announcements</ion-label>
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="community">
      <ion-label>Commnunity</ion-label>
      <ion-icon name="people-circle-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-label>Notifications</ion-label>
      <ion-icon name="notifications-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="myannouncement">
      <ion-label>My Announcements</ion-label>
      <ion-icon name="document-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>