<ion-tabs color="medium">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="announcement">
      <ion-label >Announcements</ion-label>
      <ion-icon name="newspaper-sharp" color="secondary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-label >Notifications</ion-label>
      <ion-icon name="notifications-sharp" color="secondary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="myannouncement">
      <ion-label>Posts</ion-label>
      <ion-icon name="paper-plane-sharp" color="secondary"></ion-icon>    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>