<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news/tabs/announcement" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detail Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

 <ion-grid *ngIf="!isLoading">
   <ion-row>
     <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>{{ announcement.title }}</ion-card-title>
          <ion-card-subtitle>{{ announcement.description }}</ion-card-subtitle>
        </ion-card-header>
        <ion-img [src]="announcement.announcementPictureUrl"></ion-img>
        <ion-card-content>
          <ion-label>
            <ion-icon name="cash-outline"  color="secondary" class="ion-space-left"></ion-icon>
            <span class="ion-space-left" > Payment: </span>
            <ion-text>
              {{ announcement.price + ' lei' }}
             </ion-text>
             <hr>
             <ion-icon name="bookmark-sharp" color="secondary" class="ion-space-left"></ion-icon>
             <span class="ion-space-left" > Category: </span>
             <ion-text>
              {{ announcement.category }}
             </ion-text>
          </ion-label>
        </ion-card-content>
        <ion-label>
          <span class="ion-space-left" > From </span>
          <ion-icon 
              name="calendar" 
              class="ion-space-left"
              color="secondary"></ion-icon>
            <ion-text>
              {{ announcement.startDate | date}}
            </ion-text>
            <span class="ion-space-left" > To </span>
            <ion-icon 
              name="calendar" 
              class="ion-space-left"
              color="secondary"></ion-icon>
            <ion-text>
              {{ announcement.endDate | date}}
            </ion-text>
        </ion-label>
        <hr>
        <ion-label>
          <ion-icon 
              name="location-sharp"
              class="ion-space-left"
              color="secondary"></ion-icon>
          <span class="ion-space-left" > City: </span>
          <ion-text>
            {{ announcement.city}}
          </ion-text>
          <ion-icon 
          name="home-sharp" 
          class="ion-space-left"
          color="secondary"></ion-icon>
          <span class="ion-space-left" > Street: </span>
          <ion-text>
            {{ announcement.street }}
          </ion-text>
        </ion-label>
        <hr>
        <ion-label>
          <ion-icon name="call-outline"  color="secondary" class="ion-space-left" ></ion-icon>
          <span class="ion-space-left" > Phone: </span>
          <ion-text>
            {{ announcement.phone }}
          </ion-text>
        </ion-label>
        <hr>
        <ion-label >
          <ion-icon name="eye-sharp" color="secondary" class="ion-space-left"></ion-icon>
          <span class="ion-space-left" > Number of Views: </span>
          <ion-text> {{ announcement.numberOfVisualisations }}</ion-text>
        </ion-label>

        <ion-list *ngIf="announcementAuthor && announcementAuthor.email !== currentUserEmail">
          <ion-item-sliding #slidingAuthor>
           <app-sliding-item [user]="announcementAuthor"></app-sliding-item>
           <ion-item-options >
             <ion-item-option color="primary" (click)="onSendMessage(announcementAuthor.email,slidingAuthor)">
              <ion-icon name="chatbubble-sharp" slot="top"></ion-icon>
                Send message
             </ion-item-option>
           </ion-item-options>
         </ion-item-sliding>
        </ion-list>
      </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>