<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news/tabs/announcement" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ isLoading ? 'Loading...':'Detail Page' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
 <ion-grid>
   <ion-row>
     <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-card color="primary">
        <ion-card color="medium">

        <ion-card-header>
          <ion-avatar class="avatar" >
            <ion-img [src]="announcement.userPictureUrl"></ion-img>
          </ion-avatar>
          <ion-card-title>{{ announcement.title }}</ion-card-title>
          <ion-card-subtitle>{{ announcement.description }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <ion-icon name="cash-outline" color="primary" class="ion-space-left"></ion-icon>
            <ion-text>
              {{ announcement.price + ' lei' }}
             </ion-text>
          </ion-label>
        </ion-card-content>
        <ion-label>
          <span class="ion-space-left" > From </span>
          <ion-icon 
              name="calendar" 
              class="ion-space-left"
              color="primary"></ion-icon>
            <ion-text>
              {{ announcement.startDate | date}}
            </ion-text>
            <span class="ion-space-left" > To </span>
            <ion-icon 
              name="calendar" 
              class="ion-space-left"
              color="primary"></ion-icon>
            <ion-text>
              {{ announcement.endDate | date}}
            </ion-text>
        </ion-label>
        <hr>
        <ion-label>
          <ion-icon name="call-outline" color="primary" class="ion-space-left" ></ion-icon>
          <ion-text>
            {{ announcement.phone }}
          </ion-text>
        </ion-label>
        <hr>
        <ion-label>
          <ion-icon name="location-sharp" color="primary" class="ion-space-left"></ion-icon>     
          <ion-text>
            {{ announcement.location }}
          </ion-text>
        </ion-label>

      </ion-card>
      </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
  
</ion-content>