<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news/tabs/announcement"></ion-back-button>
    </ion-buttons>
    <ion-title >{{ isLoading ? 'Loading...':'Detail Page' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
 <ion-grid>
   <ion-row>
     <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-card >
        <ion-card-header>
          <ion-avatar class="avatar" >
            <ion-img src="https://c1.staticflickr.com/9/8225/8415364746_4d3aac6e8d_b.jpg"></ion-img>
          </ion-avatar>
          <ion-card-title>{{ announcement.title }}</ion-card-title>
          <ion-card-subtitle>{{ announcement.description }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        <ion-text>{{ announcement.price + ' lei' }} </ion-text>
        </ion-card-content>
        <ion-label>
          <span class="space-left" > From </span>
          <ion-icon 
              name="calendar" 
              class="space-left"
              color="primary"></ion-icon>
            <ion-text color="primary" >
              {{ announcement.availableFrom | date}}
            </ion-text>
            <span class="space-left" > to </span>
            <ion-icon 
              name="calendar" 
              class="space-left"
              color="primary"></ion-icon>
            <ion-text color="primary" >
              {{ announcement.availableTo | date}}
            </ion-text>
        </ion-label>
      </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
  
</ion-content>