<ion-item>
<ion-thumbnail slot="start">
  <ion-img [src]="announcement.announcementPictureUrl"></ion-img>
</ion-thumbnail>
<ion-item>
<ion-label>
  <h1>{{ announcement.title }}</h1>
    <ion-icon 
    name="calendar" 
    class="ion-space-left"
    color="primary"></ion-icon>
      <ion-text  >
        {{ announcement.startDate | date : 'dd/MM/yyyy'}}
      </ion-text>
      <ion-icon 
      name="calendar" 
      class="ion-space-left"
      color="primary"></ion-icon>
      <ion-text>
        {{ announcement.endDate | date : 'dd/MM/yyyy'}}
      </ion-text>
</ion-label>
</ion-item>