<ion-item>
<ion-thumbnail slot="start">
  <ion-img [src]="annoucement.userPictureUrl"></ion-img>
</ion-thumbnail>
<ion-label>
  <h1>{{ annoucement.title }}</h1>
    <ion-icon 
    name="calendar" 
    class="space-left"
    color="secondary"></ion-icon>
      <ion-text color="primary" >
        {{ annoucement.availableFrom | date}}
      </ion-text>
      <span class="space-left" > to </span>
      <ion-icon 
      name="calendar" 
      class="space-left"
      color="secondary"></ion-icon>
      <ion-text color="primary" >
        {{ announcement.availableTo | date}}
      </ion-text>
</ion-label>
</ion-item>