<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Your Announcements</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div *ngIf="!isLoading && myNews && myNews.length <= 0" class="ion-text-center">
          <p>No announcements found! Please create one first!</p>
          <ion-button color="primary" routerLink="/news/tabs/announcement/new">Create Announcement</ion-button>
        </div>
        <ion-list>
          <ion-item-sliding
           *ngFor="let announcement of myNews"
           #slidingAnnouncement>
            <app-announcement-item [announcement]="announcement"></app-announcement-item>
            <ion-item-options>
              <ion-item-option color="primary" (click)="onDeleteAnnouncement(announcement.id,slidingAnnouncement)">
                <ion-icon name="trash" slot="top"></ion-icon>
                Delete
              </ion-item-option>
              <ion-item-option side="start" color="secondary" (click)="onUpdateAnnouncement(announcement.id,slidingAnnouncement)">
                Edit
                <ion-icon name="create" slot="top"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
