<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="news/tabs/announcement"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Page</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="user?.firstname && user?.lastname">{{ user?.firstname + " " + user.lastname}}</ion-card-title>
      <ion-card-subtitle >{{ user?.email }} </ion-card-subtitle>
    </ion-card-header>
    <ion-img *ngIf="user?.imageUrl" [src]="user?.imageUrl"></ion-img>
    <ion-card-content>
      <p>
        <ion-text color="danger" *ngIf="user.description">
          {{ user?.description }}
        </ion-text>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content> -->
