<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button slot="start" color="primary" routerLink="/news/tabs/announcement"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profile Page</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile/edit-profile">
        <ion-icon name="create-sharp" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="ion-text-center" color="primary">
          <ion-card color="light">

            <hr>
          <ion-avatar class="avatar">
            <ion-img [src]="userProfile?.imageUrl"></ion-img>
          </ion-avatar>
          <ion-card-header>
               <ion-card-title>
                 <ion-label>
                  <ion-icon name="person-circle-sharp" color="secondary" slot="icon-only"></ion-icon>
                  <ion-text class="ion-space-left">{{ userProfile?.firstname + " " + userProfile?.lastname}}</ion-text>
                 </ion-label>
                </ion-card-title>
              <ion-card-title>
                <ion-label>
                  <ion-icon name="mail-sharp" color="secondary" slot="icon-only"></ion-icon>
                  <ion-text class="ion-space-left">{{ userProfile?.email }}</ion-text>
                </ion-label>
              </ion-card-title>     
          </ion-card-header>
            <ion-card-content>
              <p>
                <ion-card-title>{{ userProfile?.description }}</ion-card-title>
              </p>
            </ion-card-content>
          </ion-card>  
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
